.gbhv-verbpath {
    border: 1px solid #ECEBED;
    border-radius: 4px;
    margin-bottom: 2rem;
    position: relative;
    clear: inherit;
}

.gbhv-verb {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    line-height: 2.1;
    margin: -1px;
    padding: 1px;
    text-align: center;
    background: #838383;
    min-width: 100px;
    display: inline-block;
}

.gbhv-path {
    color: #555;
    font-weight: 700;
    font-size: 1em;
    margin-left: .5em;
    padding: .2em .25em;
    word-wrap: break-word;
}
.gbhv-path p code {
    color: darkred;
}
.color-theme-2 .gbhv-path {
    color: #bdcadb;
}
.gbhv-path p {
    display: inline-block;
    margin-bottom: 0;
}